html, body { 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100%; /*used for sticky footer*/
}

.container { 
	margin: 0px auto;
	 padding: 0px; 
	 height: 100%; /**sticky footer*/
}

/**HEADER AND NAV**/

	.container div{ 
		margin: 0px; 
		padding: 0px;
	}

	.panel { 
		padding: 0px;
		border: none;
	}

	.header {  
		height: 75px;
		padding: 0px;
	}

	h1 { 
		margin: 20px 0px 0px 30px; 
		text-align: center;
		display: inline-block;
		width: 250px;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 1.5em;
		line-height: 2.7em;
		font-weight: bold;
		background-color: #4aaaa5;
		color: white;
	}

	h2, h3 {
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 1.3em;
		font-weight: bold;
		color: #4aaaa5;
		border-bottom-color: gray;
		padding: 14px;
		text-align: left;
	}

	.links { 
		float: right;
		margin: -30px 60px 20px 0px;
		list-style: none;
	}

	a {
		color: #999;
		text-decoration: none;
	}

	a:hover {
		color: #4aaaa5;
		text-decoration: none;
	}

	a:active {
		color: #4aaaa5;
		text-decoration: none;
	}

/**MAIN CONTENT**/

	.row { 
		max-width: 1200px;
		background-image:url('../images/confectionary.png');
		padding: 20px;
	}

	hr {
		margin: 0px 10px 10px;
	}

	.col-md-8 { 
		width: 50%; margin: 20px 0px 20px 30px;
		background-color: white; 
		border: 1px solid #ddd;
	}

	section {  
		text-align: left;
		line-height: 1.2em;
		display: inline-block;
		padding: 10px;
		box-shadow: 5px 5px 5px grey;
	}

	.me { 
		margin: 10px 10px 0px 10px;
		float: left;
		width: 187px;
		height: 180px;
	}

	p { 
		margin: 0px;
		padding: 10px;
		color: #777;
		text-align: left;
		line-height: 1.5em;
	}

	.col-md-4 { 
		width: 30%; 
		margin: 10px 0px 20px 10px;
		background-color: white; 
		border: 1px solid #ddd;
	}

	aside { 
		padding: 0px;
		text-align: center;
		box-shadow: 5px 5px 5px grey;
	}

	h3.asideHeader {
		text-align: center;
	}

	#stackIcon {  
		width: 60px;
		height: 60px;
		padding-bottom: 3px;
		padding-left: 2px;
	}

	.socialIcons:hover { 
	    opacity: 0.5;
	}

footer { 
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 4.5em;
	background-color: #666;
	text-align: center;
	color: white;
	font-size: .6em;
	border-top: solid 4px #4aaaa5;
}

/********PORTFOLIO PAGE*******/

	.portfolioContainers { 
		width: 250px; 
		padding: 0px;
		display: inline-block; 
		margin: 20px;
		height: 250px;
		overflow: hidden;
	}

	.portfolioImages { 
		height: 200px;
	}	

	.portfolioLabels {
		padding: 0px;
		width: 200px;
		color: white;
		text-align: center;
		background-color: #4aaaa5;
		position: relative;
		bottom: 30px;
	}

/********CONTACT PAGE*******/
	#nameField, #emailField, #messageField { 
		width: 90%;
		line-height: 2em;
	}

	.submitButton {
		background-color: #4aaaa5;
		color: white;
		width: 100px;
		line-height: 2em;
	}

	textarea {
		width: 480px;
		height: 200px;
	}


/********MEDIA QUERIES*******/

	/******MEDIA 980 - ABOUT PAGE******/
		@media screen and (max-width: 991px) {

			.col-md-8 { 
				width: 85%; 
				/*margin-bottom: 0; end sticky footer*/
			}

			.col-md-4 {
				width: 85%;
				margin-left: 30px; 
			}

			.asideHeader {
				text-align: center;
			}

			aside { 
				width: 35%;
			}
	/******MEDIA 980 - PORTFOLIO PAGE******/

		.portfolioContainers {
			width: 95%;
			height: 95%;
		}

		.portfolioImages {
			width: 95%; 
			height: 95%;
		}

		.portfolioLabels {
			width: 95%; 
			height: 100%;
			position: relative;
			bottom: 30px;
		}

	/******MEDIA 768 - ABOUT PAGE******/
		@media screen and (max-width: 768px) {
			.col-md-8 { 
				display: inline-block;
				width: 90%;
			} 

			.col-md-4 {
				margin-top: 20px; 
				margin-left: 30px; 
				text-align: left;
				width: 90%;
			}

			h3.asideHeader {
				text-align: left;
			}
	/******MEDIA 768 - PORTFOLIO PAGE******/

		.portfolioContainers {
			width: 45%; 
		}

		.portfolioImages { 
		width: 95%; 
		height: 95%;
		}	

		.portfolioLabels { 
		width: 95%;
		position: relative;
		bottom: 50px;
	}


	/******MEDIA 640 - ABOUT PAGE******/
	@media screen and (max-width: 640px) {

	 	.header { 
	 		width: 100%; 
	 		height: 100%;
	 		position: static;
	 	}

	 	h1 {
			margin: 0px;
			width: 100%;
	 	}

		.links {
			margin: 0px 50px 0px 40px;
			padding: 0px 25px;
		}

		.me { 
			width: 95%;
			height: 90%;
		}

		/******MEDIA 640 - PORTFOLIO PAGE******/

		.portfolioLabels { 
		width: 95%;
		position: relative;
		bottom: 50px;
		}
	}